$dimension-data-blue: #2C3741;

$dimension-data-blue: green;
$dimension-data-green: #6ABE28;

$aps-yellow-1: #FFB13B;
$aps-yellow-2: #FF9900;
$aps-blue: #1C2C57;

$fusion-red: #E93153;
$fusion-black: #333;

$idea-purple-1: #434A96;
$idea-purple-2: #39386F;
$idea-green: #83B9B3;
$idea-turquoise: #4ACDCF;
$idea-yellow: #ECCD7F;
$idea-black: #333;


$transition: all .4s;
$box-shadow: 0 0 2rem rgba(0, 0, 0, 0.20);
$border-radius: 1rem;
