body, html {
	font-family: 'Quicksand', sans-serif;
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	font-size: 100%
}

.container {
	width: 756px;
	max-width: 756px;
	margin: 0 auto;

}

.top {
	width: 100%;
	background-color: #89A3AF;
	height: 820px;
	width: 756px;
	max-width: 756px;
	margin: 0 auto;
}

header {
	width: 100%;
	height: 41px;
	width: 756px;
	max-width: 756px;
	margin: 0 auto;
}

header a {
	color: transparent;
	float: right;
	margin: 40px;
}

/* SLIDER ------------------------------------------------------------------------ */

.slider {
	position: relative;
	overflow: hidden;
	width: 756px;
	max-width: 756px;
	height: 680px;
	margin: 0 auto;
}

.slider ul {
	padding: 0;
	list-style-type: none;
	margin: 60px;
}

.slider ul li {
	width: 756px;
	height: 680px;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: block;
	padding: 0;
	margin: 0;
}

.slider ul li > div {
	display: block;
	text-align: center;
	outline: none;
}

.slider nav span {
	position: absolute;
	bottom: 50%;
	width: 54px;
	height: 54px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;
	opacity: 0.2;
}

.slider nav span:hover {
	opacity: 1;
}

.slider nav span.cbp-fwnext {
	background: url(../images/arrows.gif);
	background-repeat: no-repeat;
	background-position: 100% -310px;
	right: 50px;
}

.slider nav span.cbp-fwprev {
	background: url(../images/arrows.gif);
	background-repeat: no-repeat;
	background-position: 0 -310px;
	left: 40px;
}

.cbp-fwdots {
	position: absolute;
	bottom: 20px;
	left: 50%;
	white-space: nowrap;
	width: 120px;
	margin-left: -60px;
}

.cbp-fwdots span {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #576A73;
	margin: 2px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #FFFFFF;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #FFFFFF;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}


/* SLIDES ------------------------------------------------ */

.slider a {
	text-decoration: none;
}

.slide {
	width: 620px;
	height: 580px;
	color: #FFF;
	text-align: center;
	letter-spacing: 1px;
}

h1 {
	padding-bottom: 20px;
	border-bottom:  1px solid #FFF;
	font-size: 180%;
	width: 85%;
	margin: 0 auto 20px auto;
}

p {
	width: 80%;
	margin: 0 auto;
	line-height: 140%;
	font-size: 110%;
}

.slide-0 {
	background-image: url(../images/slide-0.png);
	background-repeat: no-repeat;
}

.slide-1 {
	background-image: url(../images/slide-1.png);
	background-repeat: no-repeat;
}

.slide-2 {
	background-image: url(../images/zzz.gif), url(../images/dumbells.gif), url(../images/slide-2.gif);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 402px 204px, 140px 170px, 0 0;
}

.slide-3 {
	background-image: url(../images/ipad.gif), url(../images/slide-3.gif);
	background-repeat: no-repeat, no-repeat;
	background-position: 347px 301px, 0 0;
}

.slide-4 {
	background-image: url(../images/slide-4.png);
	background-repeat: no-repeat;
}

.slide-5 {
	background-image: url(../images/mattress-2.gif), url(../images/mattress-1.gif), url(../images/slide-5.gif);
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 410px 170px, 128px 185px, 0 0;
}

.slide-6 {
	background-image: url(../images/slide-6.gif);
	background-repeat: no-repeat;
}

.slide-7 {
	background-image: url(../images/slide-7.gif);
	background-repeat: no-repeat;
}

.slide-8 {
	background-image: url(../images/slide-8.gif);
	background-repeat: no-repeat;
}

.slide-9 {
	background-image: url(../images/slide-9.png);
	background-repeat: no-repeat;
}

/* BOTTOM ------------------------------------------------ */

.bottom {
	background-image: url(../images/info.png);
	background-repeat: no-repeat;
	height: 876px;
	color: #FFF;
	letter-spacing: 1px;
	width: 756px;
	max-width: 756px;
	margin: 0 auto;
}

h2 {
	padding-bottom: 12px;
	font-size: 180%;
}

.bottom a {
	letter-spacing: 1px;
	color: #FFF;
	text-decoration: none;
	line-height: 130%;
}

.bottom a:hover {
	text-decoration: underline;
}

.bedroom {
	width: 350px;
	margin-left: 30px;
	margin-top: 310px;
	position: absolute;
}

.bedroom-furniture {
	width: 350px;
	margin-left: 415px;
	margin-top: 310px;
	position: absolute;
}

.bedding {
	width: 350px;
	margin-left: 30px;
	margin-top: 750px;
	position: absolute;
}

.bedroom-accessories {
	width: 350px;
	margin-left: 415px;
	margin-top: 750px;
	position: absolute;
}
